* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

header {
    background-color: red;

    grid-column: 2;
    grid-row: 1;
}

.sidebar {
    background-color: skyblue;

    grid-column: 1;
    grid-row: 1 / 3;
}

main {
    background-color: yellow;

    grid-column: 2;
    grid-row: 2;
}

.content-wrapper {
    background-color: grey;
}

.project-cards {
    background-color: greenyellow;
}

.announcements {
    background-color: orange;
}

.trending {
    background-color: purple;
}